<h1>Movies</h1>

<div class="container-fluid row">
<%# <div class="row"> %>
<% @movies.each do |movie|%>


<%=render "card", movie: movie, show: true, overview: false%>
<%end%>

</div>

<%=link_to "New Movie", new_movie_path %>
